body {
    background-color: #a3a8ab;
    color: rgb(10, 10, 10);
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(94, 143, 234);
    padding: 1px;
    padding-left: 25px;
}

.welcome-content {
    padding-left: 25px;
}